<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Saída no SGE</title>
</head>
<body>
    <div class="container">
        <p><h3>Nova saída registrada no SGE !</h3></p>

        <br>

        <p>Produto: <b>{{ product }}</b></p>
        <p>Custo Unitário: <b>{{ product_cost_price }}</b></p>
        <p>Valor de Venda: <b>{{ product_selling_price }}</b></p>
        <p>Quantidade: <b>{{ quantity }}</b></p>
        <p>Valor da venda: <b>{{ total_value }}</b></p>
        <p>Lucro da venda: <b>{{ profit_value }}</b></p>

        <br>

        <p>
            Atenciosamento,<br>
            Sistema de Gestão de Estoque (SGE)
        </p>
        
        
    </div>    
</body>
</html>